<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;

        font-size: 20px;
        color: #Fff;

        background: linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
    }

    .header{
        margin-top: 5px;
    }

    .value {
        padding: 10px;
        margin-left: 5px;
        background: #8257e6;
        color: #fff;
        width: 100px;
	    border-radius: 50%;
	    overflow: hidden;
        transition: 1s ease;
        
        font-size: 30px;
        text-align: center;
        text-decoration: none;
    }

    .value:hover{
	transform: rotateY(360deg);
}

    .level{
        display: flex;
        justify-content: space-between;

        width: 600px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    span {
        color: green;
    }

    span:first-child {
        color: red;
    }

    .answers{
        width: 600px;
        display: flex;
        justify-content: space-between;
    }

    footer {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    footer > h3 {
        color: #4A235A;
    }

    @keyframes .value {
	from {
		transform: rotate(0deg) translateX(30px);
	} to {
		transform: rotate(360deg) translateX(30px);
	}
}
</style>


<div class="container">
    <label class="header">Ol치 <strong>{{name}}</strong>! Tudo bem?</label>

    <h3>{{title}}</h3>
    <br>
    <strong>{{description}}</strong>

    <div class="level">
        <span>游녩Pouco prov치vel</span>
        <span>游녨Muito prov치vel</span>
    </div>

    <div class="answers">
        <a class="value" href="{{link}}/1?u={{id}}">01</a>
        <a class="value" href="{{link}}/2?u={{id}}">02</a>
        <a class="value" href="{{link}}/3?u={{id}}">03</a>
        <a class="value" href="{{link}}/4?u={{id}}">04</a>
        <a class="value" href="{{link}}/5?u={{id}}">05</a>
        <a class="value" href="{{link}}/6?u={{id}}">06</a>
        <a class="value" href="{{link}}/7?u={{id}}">07</a>
        <a class="value" href="{{link}}/8?u={{id}}">08</a>
        <a class="value" href="{{link}}/9?u={{id}}">09</a>
        <a class="value" href="{{link}}/10?u={{id}}">10</a>

    </div>

    <br>
<footer>
    <strong>Sua opni칚o 칠 muito importante para n칩s</strong>
    <h3>Equipe | <strong>NLW 游</strong></h3>
</footer>
</div>